/*establish custom styling after reset*/

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(-45deg, #ee7652c9, #c03a3abe, #40859ede, #79cfbbb7);
	background-size: 400% 400%;
	animation: gradientBG 10s linear infinite;
}


h1 {

    font-family: 'Special Elite', cursive;
    margin: auto;
    color: rgba(66, 66, 54, 0.938);
    border: 5px solid rgba(15, 15, 15, 0.644);
    border-radius: 10px;
    background-color: rgba(0, 255, 170, 0.363);
    
}

#displayArea {

    opacity: .2;
    height: 67vh;
    width: 77vw;
    margin: auto;
    text-align: center;
    color: rgb(48, 48, 48);
    margin-top: 10px;
    position: fixed;
   
    
    

}

.display-4  {
        padding-top: 7px;

}

#buttons-view {

    display: flex; 
    margin-top: 15px;
}


.gif-button {

    font-family: 'Special Elite', cursive;
    background-color: rgba(211, 211, 211, 0.418);
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    height: 7vh;
    margin-right: 5px;
    

}

.navbar {
    height: 20vh;
    background-color: rgba(211, 211, 211, 0.418);
    border-radius: 20px;
    margin-top: 5px;
}



.gifs-created  {

    float: left;
    border: 3px solid rgba(66, 66, 54, 0.938);
    border-radius: 10px;
    margin: 5px;
    font-family: 'Special Elite', cursive;
    background-color: rgba(39, 36, 36, 0.911);
    
}

p {

    text-align: center;
    margin-top: 5px;
    color: rgba(230, 224, 224, 0.911);
}

input {

    background-color: rgba(209, 209, 111, 0.925);
    border: 2px solid rgb(49, 48, 48);
    border-radius: 5px;
    text-align: center;
    height: 36px;
    
}

#gif-input  {

    color: rgb(49, 48, 48);
    height: 37px;
    width: 8vw;
    
    
}


label  {

    margin-right: 5px;
    font-family: 'Special Elite', cursive;
    font-size: larger;
    color: rgb(64, 73, 72);
}


i {

    color: rgb(209, 56, 56);
    font-size: larger;


}

input, .gif-button:focus {
    
    outline:0;
}










@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	
    }
    100% {
        background-position: 0% 50%;
    }

}