/*establish custom styling after reset*/
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(-45deg, #ee7652c9, #c03a3abe, #40859ede, #79cfbbb7);
	background-size: 400% 400%;
	animation: gradientBG 10s linear infinite;
}


h1 {

    font-family: 'Special Elite', cursive;
    margin: auto;
    color: rgba(66, 66, 54, 0.938);
    border: 5px solid rgba(15, 15, 15, 0.644);
    border-radius: 10px;
    background-color: rgba(0, 255, 170, 0.363);
    
}

.display-4  {
        padding-top: 7px;

}



#Submit-btn, #Clear-btn {

    background-color: rgb(218, 175, 68);
    height: 37px;
    margin-bottom: 5px;
    
}

#search {

    height: 40px;
    border-radius: 5px;
    border:2px solid rgba(15, 15, 15, 0.644);
  
    
   
}


.recents   {

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px, 0px;
    font-family: 'Special Elite', cursive;
    
    

}

.container-buttons {

    border: 2px solid rgba(255, 255, 255, 0.274);
    border-radius: 5px;
}

.form-group {

    font-family: 'Special Elite', cursive;
    
}



.navbar {
    height: 20vh;
    background-color: rgba(211, 211, 211, 0.418);
    border-radius: 20px;
    margin-top: 5px;
}


.jumbotron {

    height: 60vh;
    background-color: rgba(245, 245, 245, 0.295);
    margin-top: 20px;
    border-radius: 30px;
    padding: 20px;
    
}




@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	
    }
    100% {
        background-position: 0% 50%;
    }

}