/*establish custom styling after reset*/
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(-45deg, #ee7652c9, #c03a3abe, #40859ede, #79cfbbb7);
	background-size: 400% 400%;
	animation: gradientBG 10s linear infinite;
}





.navbar {
    height: 20vh;
    background-color: rgba(211, 211, 211, 0.418);
    border-radius: 30px;
    margin-top: 5px;
}

.jumbotron {

    height: 60vh;
    background-color: rgba(245, 245, 245, 0.295);
    margin-top: 20px;
    border-radius: 30px
}




@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	
    }
    100% {
        background-position: 0% 50%;
    }

}